.App {
  text-align: center;
}

button {
  border: 3px solid black;
  border-radius: 4px;
  margin: 12px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}
  button:hover {
    background-color: greenyellow;
  }

.card-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

img {
  height: 120px;
  width: 120px;
  }
  